<% form_tag sessions_path do -%>
<p><%= label_tag 'email' %><br />
<%= text_field_tag 'email', @email, maxlength: 100, length: 200 %></p>

<p><%= label_tag 'Your Phone Number' %><br />
<%= text_field_tag 'user_phone', @user_phone,  maxlength: 20, length: 30 %></p>
<label for="user_phone_state">State</label>
<%=select_tag :state,options_for_select([['Maryland','md']])%>
<br>
<label for="user_phone_city">City</label>
<%=select_tag :city,options_for_select(['Annapolis','Baltimore'])%>

<p><%= submit_tag 'Request Number' %></p>

<% end -%>
