
  <%-if @did.expired? && @did.can_reup?%>
  <div id="expired-info">
  <p>Your Pipes Number has expired</p>
  </div>
  <div id="request-options" class="expired">
  However you can purchase the same number for another 3 weeks with 20 minutes total talk time.
  <p>
    <!-- Re-up -->
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="invoice" value="<%=@reup_order.id%>">
    <input type="hidden" name="hosted_button_id" value="DF5WDUZ2RB7JG">
    <span class="price">$2.00</span></b> <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_paynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </p>
  </div>
  <%-elsif !@did.expired?-%>
  <div id="existing-info">
  <p>You current Pipes Number will expire on:<br> <span class="pipes-orange"><%=@did.expires_at.strftime('%B %d, %Y')%> and has <%=@did.time_left%> of talk time remaining.<span class="pipes-orange"></p>

    <%-unless @from_mailing -%>
    <p>Forgot your number, need it re-sent?<br>
    <%=link_to 'Click here to email Pipes Number', mail_existing_request_number_path%></p>

    <%-end-%>
  </div>
  <div id="request-options">
  <p>You can add 30 more minutes to your current Pipes Number</p>
    <!-- 30min extension -->
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="invoice" value="<%=@ext_order.id%>">
    <input type="hidden" name="hosted_button_id" value="JL2WZ8JXUB9H8">
    <span class="price">$1.00</span><input type="image" src="https://www.paypal.com/en_US/i/btn/btn_paynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  <p>You can extend your Pipes Number for another 3 weeks and an additional 20 minutes</p>
    <!-- Re-up -->
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="invoice" value="<%=@reup_order.id%>">
    <input type="hidden" name="hosted_button_id" value="DF5WDUZ2RB7JG">
    <span class="price">$2.00</span><input type="image" src="https://www.paypal.com/en_US/i/btn/btn_paynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" valign="middle" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
  <div id="request-dial">
    <p>Want to dail from the your browser (support is not universal), click <a href="/dial"> here to start</a></p>
  </div>
  <%-end-%>
