<div class="info">
<%-if flash[:notice]-%>
<%=link_to 'Send Pipes Number', mail_existing_request_number_path%>
<%- else -%>
<p> Your REAL phone number : <%=@user_order[:phone]%><br>
Requesting a Pipes number;<br>
For State: <%=@user_order[:state].upcase%> and City: <%=@user_order[:city]%>
</p>
<p>If this is correct please click Pay Now button, if not <%=link_to 'go back', entry_path%></p>
<%-end-%>
<%if RAILS_ENV=='production'-%>

<%-if @did.blank? -%>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="invoice" value="<%=@order.id%>">
<input type="hidden" name="hosted_button_id" value="P79LWMD6PLV58">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<%-end-%>

<%-else-%>
<%-if @did.blank? -%>
TEST
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="invoice" value="<%=@order.id%>">
<input type="hidden" name="hosted_button_id" value="KLFYT463JBVFJ">
<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_paynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<%-end-%>
<%-end-%>
</div>