  <p> Greetings!</p>
  <p>You had a recent call from <span class="number pipes-orange"><%=@call_queue.caller.to_phone_number%></span></p>
  <p> The call lasted <%=@call_queue.formatted_call_time%></p>
  <p> Reminder: You have <%=@call_queue.formatted_time_left%> of talk time left until <span class="number pipes-orange"><%=@dup.expiration_date%></span></p>
  <p> If you'd like to add more minutes or re-up your Pipes Number please click <%=link_to 'here', existing_did_url(@did.phone_number)%></p>
  <p class="note">
    To no longer receive these messages, pleas click here to change your settings <%=link_to 'Email settings', settings_users_url(token: @token)%>
  </p>